{% extends "main/layout.html" %}
{% block content %}
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="email">Email</label>
                {{ form.email(class="form-control") }}
                <div class="small text-danger">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
{% endblock content %}
